:root{
  --primary-colour: #3a4dff;
}

/* Global */
html, body{
box-sizing: border-box;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(240, 235, 215);
}

/* Main */
#main-container{
  height: 100%;
  /* Width handled by JS */
  margin: 100px auto;
}

.flex-container{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px 8px 0px;
}

/* Options */
.option-category{
  display: flex;
  justify-content: left;
  gap:8px;
  padding-right: 32px;
}

button{
  display: flex;
  align-items: center;
  padding: 3px 6px 3px 3px;
  border: 2px var(--primary-colour) solid;
  border-radius: 8px;
  cursor: pointer;
  transition: all;
}

button:hover{
  background-color: var(--primary-colour);
}

button .material-symbols-outlined{
  padding-right: 8px;
  opacity: 80%;
}

/* Slider */
.slider{
  width: 100%;
  margin: 0 auto;
}

#grid-size-value{
  width: 100%;
  padding-left: 16px;
}

/* Canvas */
#canvas{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cell{
  background-color: rgb(250,250,250);
  border: 1px rgba(0,0,0,10%) solid;
}